body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

header{
    background-image: url("../Images/Miley-Cyrus-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    text-align: center;
    padding: 230px 0;
}

h1{
    font-size: 128px;
    font-weight: 800;
    margin: 0;
}

h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

h3{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
}

button{
    background-color: #E6D2A6;
    padding: 16px 32px;
    border-radius: 5px;
    border: none;
    gap: 10px;
    margin-top: 60px;
}

button a{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
}

footer{
    background-image: linear-gradient(
        rgba(63, 40, 48, 0.9),
        rgba(63, 40, 48, 0.9)), url("../Images/Miley-Cyrus-04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: whitesmoke;
}

footer h3{
    font-weight: 700;
    line-height: 30px
}

footer p{
    font-size: 16px;
    font-weight: 400;
    margin-right: 20px;
    margin-top: 28px;
    opacity: 0.7;
    line-height: 24px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    line-height: 24px;
}    

footer a{
    color: whitesmoke;
    opacity: 0.7;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
}

@media (max-width: 900px){
    header{
        padding: 60px 0;
    }

    h1{
        font-size: 70px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 15px;
    }

    button{
        margin-top: 30px;
        padding: 12px 26px;
    }

    button a{
        font-size: 13px;
    }
}