body{
    font-family: 'Plus Jakarta Sans', sans-serif;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
}

.text-center{
    text-align: center;
}

header{
    background-image: url("../Images/Miley-Cyrus-01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    color: black;
    padding: 230px 0;
}

h1{
    font-size: 128px;
    font-weight: 800;
    margin: 0;
}

h2{
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

h3{
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 5px;
    margin: 0;
}

button{
    background-color: #FBE7CD;
    padding: 16px 32px;
    border-radius: 4px;
    border: none;
    margin-top: 60px;
}

button a{
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 3px;
    color: black;
    text-decoration: none;
}

main{
    max-width: 100%;
    margin: 0 auto;
    padding: 60px 100px;
    
}

main.backround{
    background-color: rgba(251, 231, 205, 0.3);
}

main img{
    max-width: 100%
}

main h3{
    font-size: 16px;
    opacity: 0.5;
    line-height: 1.5;
    margin-bottom: 5px;
}

main p{
    line-height: 1.5;
    margin-top: 10px;
}

section{
    margin-top: 40px;
}

.card{
    padding: 20px;
    background-color: white;
}

.card h4, h5, p{
    font-style: normal;
    margin: 15px 0;
} 

.card h4, h5{
    font-weight: 700;
    line-height: 0.9;

}

.card h4{
    font-size: 24px;
    line-height: normal;
}

.card p{
    font-size: 16px;
    font-weight: 400;
    line-height: 1.2;
}

.card h5{
    font-size: 16px;
}

.card button{
    margin-top: 5px;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    grid-gap: 64px;
}

.grid-2-columns{
    grid-template-columns: 1fr 1fr;
}

.grid-3-columns{
    grid-template-columns: 1fr 1fr 1fr;
}

.embed{
    width: 100%;
    aspect-ratio: 16 / 9;
}     
footer{
    background-image: linear-gradient(
        rgba(63, 40, 48, 0.9),
        rgba(63, 40, 48, 0.9)), url("../Images/Miley-Cyrus-04.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
    color: whitesmoke;
    padding: 40px;
}

footer h3{
    font-weight: 700;
    line-height: 30px
}

footer p{
    font-size: 16px;
    font-weight: 400;
    margin-top: 28px;
    opacity: 0.7;
    line-height: 24px;
}

footer ul{
    padding: 0;
}

footer li{
    list-style: none;
    margin: 0;
    padding: 0;
    opacity: 0.7;
    line-height: 24px;
}    

footer a{
    color: whitesmoke;
    opacity: 0.7;
}

@media (max-width: 900px){
    header{
        padding: 60px 0;
    }

    h1{
        font-size: 70px;
    }

    h2{
        font-size: 25px;
    }

    h3{
        font-size: 15px;
    }

    button{
        margin-top: 30px;
        padding: 12px 26px;
    }

    button a{
        font-size: 13px;
    }

    p{
       font-size: 14px; 
    }
    
    .grid{
        grid-template-columns: 1fr;
    }
}